/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}

ul.nav{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

#title{
	font-family: 'Kreon', serif;
	font-weight: bold;
	font-size: 40px;
}

.info-wrapper p{
	font-size: 24px;
	font-weight: bold;
}

.info-wrapper span{
	color: #EF7F33;
	font-weight: bold;
}

.info-wrapper a{
	color: #EF7F33;
}

#social-media-title{
	font-family: 'Kreon', serif;
	color: #FFF;
	font-size: 48px;
	font-weight: bold;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
body{
	margin: 0;
}
.masthead {
    background-image: url("resources\\banner2.jpg");
    background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: auto;
}

.masthead a{
	display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Sticky Navbar*/
ul.nav {
    position: -webkit-sticky;  /*Safari*/
    position: sticky;
    top: 0;
}

.nav li{
	float: left;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #111;
	color: #EF7F33;
}

.active {
    background-color: #EF7F33;
}

.nav button {
	float: right;
    padding: 6px;
	border: none;
    background-color: #EF7F33;
	color: #FFF;
	margin-top: 9px;
    font-size: 18px;
}

.nav button:hover{
	background-color: #555;
	color: #EF7F33;
}

.nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
	margin-top: 9px;
    font-size: 18px;
}

.left-banner{
	float: left;
	background-color: #DDD;
	width: 20%;
	height: 1000px;
}

.right-banner{
	float: right;
	background-color: #DDD;
	width: 20%;
	height: 1000px;
}

.text-area{
	float: left;
	text-align: center;
	width: 60%;
	height: 1200px;
}

#title p{
	color: #EF7F33;
}

.text-area hr{
	margin-right: 10%;
	margin-left: 10%;
	border-width: 1px;
	border-style: solid;
}

.info-wrapper{
	background-color: #333;
	margin-left: auto;
	margin-right: auto;
	width: inherit;
	height: 350px;
}

.info-wrapper img{
	padding-bottom: 30px;
}

#call-box{
	max-width: 200px;
	float: left;
	margin-right: 40px;
}

#mail-box{
	max-width: 200px;
	float: left;

}

.social-media{
	width: 100%;
	height: 430px;
	background-color: #EF7F33;
}

#social-media-title{

}
