/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body{
	font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
	color: black;
}


/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
.masthead {
    background-image: url("resources\\banner2.jpg");
    background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Sticky Navbar*/
ul.nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav li{
	float: left;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #111;
	color: #EF7F33;
}

.active {
    background-color: #EF7F33;
}

.nav button {
	float: right;
    padding: 8px;
	border: none;
    background-color: #EF7F33;
	color: #FFF;
	margin-top: 9px;
    font-size: 18px;
}

.nav button:hover{
	background-color: #555;
	color: #EF7F33;
}

.nav input[type=text] {
    float: right;
    padding: 8px;
    border: none;
	margin-top: 9px;
    font-size: 18px;
}
